body {
  background-color: black;
}

header {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 35px;
  color: aliceblue;
  font-weight: 100;
}

p {
  text-transform: uppercase;
  color: pink;
}
